@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

button {
  all: unset;
  padding: 6px 15px;
  background-color: red;
  height: 30px;
  color: white;
  font-weight: 500;
  border-radius: 6px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh-70px);
}

.left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero h1{
  font-weight: 800;
  font-size: 108px;
  line-height: 100px;
}

.hero p{
  font-weight: 600;
  color: grey;
  max-width: 500px;

}

.hero-btn{
  display: flex;
  gap: 30px;
}

.second-btn{
  background: transparent;
  color: grey;
  border: 1px solid gray;
}

.shopping{
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons{
  display: flex;
  gap: 15px;
  align-items: center;
}